
.menu-container {
    max-height: 340px;
    margin: 0% auto ;
    content: " ";
    /* top: 0;
    left: 0; */
    /* position: absolute; */ /*to the top edge of the screen */
    width: 100% ;
    position: fixed ;
    z-index: 100;
    /* background-color: rgba(255, 255, 255, 0.5); */ 
}

.wrap {
    height: 100% ;
    width: 100% ;
    position: absolute;
    /* This ensures that the image does
    not render outside the container 
    without forcing any scrollbars */
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;

}