/* ============================
   GLOBAL LAYOUT HELPERS
=============================== */

.page-container {
  max-width: 1300px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}
