.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 131px;
  position: relative;
  background-color: #ffffff;
}

.contact-page .navigation-bar {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-tertiary-color);
  overflow: hidden;
}

.contact-page .logo {
  display: flex;
  flex-direction: column;
  width: 364px;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 6px;
  position: relative;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
}

.contact-page .div {
  align-self: stretch;
  width: 100%;
  position: relative;
  height: 65px;
}

.contact-page .zeus-volunteer-logo {
  position: absolute;
  width: 24.79%;
  top: 0;
  left: 0;
  height: 65px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.contact-page .text-wrapper {
  position: absolute;
  width: 78.98%;
  height: 70.77%;
  top: 16.92%;
  left: 20.80%;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--variable-collection-secondary-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.contact-page .menu-and-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -14.50px;
  margin-bottom: -14.50px;
}

.contact-page .navbar {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 30px;
  position: relative;
  flex: 0 0 auto;
}

.contact-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.contact-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #00000080;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.contact-page .login-frame {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 175px;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 10px;
  position: relative;
}

.contact-page .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 3.13;
}

.contact-page .button-2 {
  position: absolute;
  width: 100%;
  height: 59.18%;
  top: 18.37%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.contact-page .user-frame {
  position: relative;
  flex: 0 0 auto;
}

.contact-page .user-icon {
  position: relative;
  top: calc(50.00% - 33px);
  left: calc(50.00% - 36px);
  width: 71px;
  height: 66px;
}

.contact-page .union {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 8.33%;
  left: 8.33%;
}

.contact-page .contact-page-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  padding: 28px 37px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.contact-page .logo-2 {
  width: 403px;
  position: relative;
  height: 65px;
}

.contact-page .img {
  position: absolute;
  width: 24.79%;
  top: 0;
  left: -2.28%;
  height: 75px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.contact-page .text-wrapper-4 {
  position: absolute;
  width: 68.98%;
  height: 70.77%;
  top: 16.92%;
  left: 20.80%;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--variable-collection-secondary-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.contact-page .text-container {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: 435px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  position: relative;
  background-color: #ffffff;
}

.contact-page .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.contact-page .header {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #5b5959;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.contact-page .lorem-ipsum-dolor-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.contact-page .lorem-ipsum-dolor {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Space Grotesk-Medium", Helvetica;
  font-weight: 500;
  color: #5b5959;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.contact-page .footer {
  display: flex;
  width: 1413px;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  background-color: var(--variable-collection-tertiary-color);
}

.contact-page .copyright-frame {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 25px 51px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -9.50px;
  margin-bottom: -9.50px;
}

.contact-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16.9px;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: normal;
}

.contact-page .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: #000000;
  font-size: var(--h2-font-size);
  text-align: center;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}
