.account-management {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 131px;
  position: relative;
  background-color: #ffffff;
}

.account-management .navigation-bar {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-tertiary-color);
  overflow: hidden;
}

.account-management .logo {
  display: flex;
  flex-direction: column;
  width: 364px;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 6px;
  position: relative;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
}

.account-management .div {
  align-self: stretch;
  width: 100%;
  position: relative;
  height: 65px;
}

.account-management .zeus-volunteer-logo {
  position: absolute;
  width: 24.79%;
  top: 0;
  left: 0;
  height: 65px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.account-management .text-wrapper {
  position: absolute;
  width: 78.98%;
  height: 70.77%;
  top: 16.92%;
  left: 20.80%;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--variable-collection-secondary-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.account-management .menu-and-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -14.50px;
  margin-bottom: -14.50px;
}

.account-management .navbar {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 30px;
  position: relative;
  flex: 0 0 auto;
}

.account-management .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.account-management .login-frame {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 175px;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 10px;
  position: relative;
}

.account-management .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 3.13;
}

.account-management .button-2 {
  position: absolute;
  width: 100%;
  height: 59.18%;
  top: 18.37%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.account-management .div-2 {
  display: flex;
  flex-direction: column;
  height: 1408px;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.account-management .logo-2 {
  width: 351px;
  position: relative;
  height: 65px;
}

.account-management .img {
  position: absolute;
  width: 24.79%;
  top: 0;
  left: -2.28%;
  height: 65px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.account-management .text-wrapper-3 {
  position: absolute;
  width: 79.20%;
  height: 70.77%;
  top: 16.92%;
  left: 20.80%;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--variable-collection-secondary-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.account-management .div-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.account-management .user-icon {
  position: relative;
  width: 286px;
  height: 279px;
}

.account-management .union {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 8.33%;
  left: 8.33%;
}

.account-management .edit-picture-button {
  position: relative;
  width: 154px;
  height: 49px;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 3.13;
}

.account-management .text-field {
  position: relative;
  width: 254px;
  height: 78px;
}

.account-management .rectangle {
  height: 62.82%;
  top: 37.18%;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--variable-collection-tertiary-color);
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.account-management .text-field-data {
  position: absolute;
  width: 94.49%;
  height: 30.77%;
  top: 51.28%;
  left: 5.51%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.account-management .label {
  position: absolute;
  width: 32.68%;
  height: 30.77%;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .button-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 154px;
  height: 49px;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 3.13;
}

.account-management .label-2 {
  width: 31.89%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .label-3 {
  width: 16.14%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .label-4 {
  width: 18.90%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .label-5 {
  width: 30.71%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .label-6 {
  width: 29.13%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .drop-down-fields {
  position: relative;
  width: 254px;
  height: 75px;
}

.account-management .rectangle-2 {
  height: 65.33%;
  top: 34.67%;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--variable-collection-tertiary-color);
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.account-management .arrow-icons {
  position: absolute;
  width: 8.54%;
  height: 14.25%;
  top: 61.33%;
  left: 84.25%;
}

.account-management .line {
  top: -5.86%;
  left: 47.86%;
  position: absolute;
  width: 69.13%;
  height: 0;
  object-fit: cover;
}

.account-management .line-2 {
  top: -6.62%;
  left: 0;
  position: absolute;
  width: 69.13%;
  height: 0;
  object-fit: cover;
}

.account-management .label-7 {
  width: 24.02%;
  height: 32.00%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .drop-down-field-data {
  position: absolute;
  width: 12.99%;
  height: 32.00%;
  top: 50.67%;
  left: 2.36%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .label-8 {
  width: 51.57%;
  height: 32.00%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .drop-down-field-data-2 {
  width: 28.35%;
  position: absolute;
  height: 32.00%;
  top: 50.67%;
  left: 2.36%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .label-9 {
  width: 12.20%;
  height: 32.00%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .drop-down-field-data-3 {
  width: 35.83%;
  position: absolute;
  height: 32.00%;
  top: 50.67%;
  left: 2.36%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account-management .save-button {
  position: relative;
  width: 218px;
  height: 73px;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.account-management .button-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: #000000;
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  font-style: var(--h3-font-style);
}

.account-management .footer {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-tertiary-color);
}

.account-management .copyright-frame {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 25px 51px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -9.50px;
  margin-bottom: -9.50px;
}

.account-management .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16.9px;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: normal;
}

.account-management .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: #000000;
  font-size: var(--h2-font-size);
  text-align: center;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}
