.signup-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 96px;
  position: relative;
  background-color: #ffffff;
}

.signup-page .navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  align-self: stretch;
  background-color: var(--variable-collection-tertiary-color);
  overflow: hidden;
}

.signup-page .logo {
  display: flex;
  flex-direction: column;
  width: 364px;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 6px;
  position: relative;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
}

.signup-page .div {
  align-self: stretch;
  width: 100%;
  position: relative;
  height: 65px;
}

.signup-page .zeus-volunteer-logo {
  position: absolute;
  width: 24.79%;
  top: 0;
  left: 0;
  height: 65px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.signup-page .text-wrapper {
  position: absolute;
  width: 78.98%;
  height: 70.77%;
  top: 16.92%;
  left: 20.80%;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--variable-collection-secondary-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.signup-page .menu-and-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -14.50px;
  margin-bottom: -14.50px;
}

.signup-page .navbar {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 30px;
  position: relative;
  flex: 0 0 auto;
}

.signup-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.signup-page .login-frame {
  display: flex;
  flex-direction: column;
  width: 175px;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 10px;
  position: relative;
}

.signup-page .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 3.13;
}

.signup-page .button-2 {
  position: absolute;
  width: 100%;
  height: 59.18%;
  top: 18.37%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.signup-page .button-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 175px;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 10px;
  position: relative;
}

.signup-page .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 3.13;
}

.signup-page .rectangle {
  height: 100%;
  top: 0;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 50px;
  position: absolute;
  width: 100%;
  left: 0;
}

.signup-page .signup-page-content {
  padding-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.signup-page .logo-2 {
  width: 351px;
  position: relative;
  height: 65px;
}

.signup-page .img {
  position: absolute;
  width: 24.79%;
  top: 0;
  left: -2.28%;
  height: 65px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.signup-page .text-wrapper-3 {
  position: absolute;
  width: 79.20%;
  height: 70.77%;
  top: 16.92%;
  left: 20.80%;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--variable-collection-secondary-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.signup-page .div-2 {
  position: relative;
  width: 254px;
  height: 78px;
}

.signup-page .rectangle-2 {
  height: 62.82%;
  top: 37.18%;
  background-color: var(--variable-collection-tertiary-color);
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  width: 100%;
  left: 0;
}

.signup-page .text-field-data {
  position: absolute;
  width: 94.49%;
  height: 30.77%;
  top: 51.28%;
  left: 5.51%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.signup-page .label {
  position: absolute;
  width: 32.68%;
  height: 30.77%;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .label-2 {
  width: 31.89%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .label-3 {
  width: 16.14%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .edit-frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.signup-page .label-4 {
  width: 18.90%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .div-3 {
  position: relative;
  width: 254px;
  height: 75px;
}

.signup-page .rectangle-3 {
  height: 65.33%;
  top: 34.67%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  width: 100%;
  left: 0;
}

.signup-page .arrow-icons {
  position: absolute;
  width: 8.54%;
  height: 14.25%;
  top: 61.33%;
  left: 84.25%;
}

.signup-page .line {
  top: -5.86%;
  left: 47.86%;
  position: absolute;
  width: 69.13%;
  height: 0;
  object-fit: cover;
}

.signup-page .line-2 {
  top: -6.62%;
  left: 0;
  position: absolute;
  width: 69.13%;
  height: 0;
  object-fit: cover;
}

.signup-page .label-5 {
  width: 70.47%;
  height: 32.00%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .label-6 {
  width: 30.71%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .label-7 {
  width: 29.13%;
  height: 30.77%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .label-8 {
  width: 24.02%;
  height: 32.00%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .label-9 {
  width: 51.57%;
  height: 32.00%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .label-10 {
  width: 12.20%;
  height: 32.00%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.signup-page .create-account {
  position: relative;
  width: 257px;
  height: 82px;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.signup-page .button-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: #000000;
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  font-style: var(--h3-font-style);
}

.signup-page .footer {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-tertiary-color);
}

.signup-page .copyright-frame {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 25px 51px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -9.50px;
  margin-bottom: -9.50px;
}

.signup-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16.9px;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: normal;
}

.signup-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: #000000;
  font-size: var(--h2-font-size);
  text-align: center;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}
/* Inject original CSS code here */

.signup-page .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  width: 100%;
}

.signup-page .text-field-input {
  position: absolute;
  width: 100%;
  height: 62.82%;
  top: 37.18%;
  left: 0;
  background-color: var(--variable-collection-tertiary-color);
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 0 14px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  box-sizing: border-box;
}

.signup-page .text-field-input::placeholder {
  color: #00000080;
}

.signup-page .text-field-input:focus {
  outline: 2px solid #4a90e2;
  outline-offset: -2px;
}

.signup-page .select-field {
  position: absolute;
  width: 100%;
  height: 65.33%;
  top: 34.67%;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 0 14px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
}

.signup-page .select-field:focus {
  outline: 2px solid #4a90e2;
  outline-offset: -2px;
}

.signup-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
  text-decoration: none;
  cursor: pointer;
}

.signup-page .text-wrapper-2:hover {
  text-decoration: underline;
}

.signup-page .text-wrapper-2:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.signup-page .button:hover,
.signup-page .button-3:hover,
.signup-page .create-account:hover {
  opacity: 0.9;
  cursor: pointer;
}

.signup-page .button:active,
.signup-page .button-3:active,
.signup-page .create-account:active {
  transform: translateY(1px);
}

.signup-page .create-account {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 257px;
  height: 82px;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
}

.signup-page .create-account:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}