.event-detail-page {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.event-detail-page .navigation-bar {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-tertiary-color);
  overflow: hidden;
}

.event-detail-page .logo {
  display: flex;
  flex-direction: column;
  width: 364px;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 6px;
  position: relative;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
}

.event-detail-page .div {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 65px;
}

.event-detail-page .zeus-volunteer-logo {
  position: absolute;
  width: 24.79%;
  top: 0;
  left: 0;
  height: 65px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.event-detail-page .text-wrapper {
  position: absolute;
  width: 78.98%;
  height: 70.77%;
  top: 16.92%;
  left: 20.80%;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--variable-collection-secondary-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.event-detail-page .menu-and-login {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -14.50px;
  margin-bottom: -14.50px;
}

.event-detail-page .navbar {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 30px;
  position: relative;
  flex: 0 0 auto;
}

.event-detail-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.event-detail-page .login-frame {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 175px;
  align-items: flex-start;
  gap: 10px;
  padding: 12px 10px;
  position: relative;
}

.event-detail-page .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 3.13;
}

.event-detail-page .button-2 {
  position: absolute;
  width: 100%;
  height: 59.18%;
  top: 18.37%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  text-align: center;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.event-detail-page .user-frame {
  position: relative;
  flex: 0 0 auto;
}

.event-detail-page .user-icon {
  position: relative;
  top: calc(50.00% - 33px);
  left: calc(50.00% - 36px);
  width: 71px;
  height: 66px;
}

.event-detail-page .union {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 8.33%;
  left: 8.33%;
}

.event-detail-page .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  padding: 28px 37px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.event-detail-page .back-to-search-frame {
  position: relative;
  width: 891px;
  height: 90px;
}

.event-detail-page .back-to-search {
  position: absolute;
  top: 25px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.event-detail-page .div-3 {
  display: inline-flex;
  align-items: center;
  gap: 140px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.event-detail-page .text-info {
  display: inline-flex;
  gap: 24px;
  padding: 62px 0px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.event-detail-page .p {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.event-detail-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.event-detail-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Space Grotesk-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.event-detail-page .google-maps-api {
  position: relative;
  width: 595px;
  height: 349px;
  aspect-ratio: 1.7;
  object-fit: cover;
}

.event-detail-page .detail-image {
  position: relative;
  width: 641px;
  height: 647px;
  aspect-ratio: 0.99;
  background-image: url(./img/detail-image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.event-detail-page .div-4 {
  display: flex;
  flex-direction: column;
  height: 644px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 54px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.event-detail-page .text-container {
  display: flex;
  padding: 24px;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.event-detail-page .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -23.00px;
  background-color: #ffffff;
}

.event-detail-page .header {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #5b5959;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.event-detail-page .lorem-ipsum-dolor-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -23.00px;
  background-color: #ffffff;
}

.event-detail-page .lorem-ipsum-dolor {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Space Grotesk-Medium", Helvetica;
  font-weight: 500;
  color: #5b5959;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.event-detail-page .buttons-frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.event-detail-page .button-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 257px;
  height: 82px;
  background-color: var(--variable-collection-second-primary-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.event-detail-page .button-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: #000000;
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  font-style: var(--h3-font-style);
}

.event-detail-page .footer {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--variable-collection-tertiary-color);
}

.event-detail-page .copyright-frame {
  display: inline-flex;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 25px 51px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -9.50px;
  margin-bottom: -9.50px;
}

.event-detail-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16.9px;
  text-align: center;
  letter-spacing: 0.17px;
  line-height: normal;
}

.event-detail-page .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: #000000;
  font-size: var(--h2-font-size);
  text-align: center;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}
